@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  background-color: var(--dark);
}

#root {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.card-header {
  background-color: #dcdcdc;
}
